HMAC key in ConcoursUploadView

```
tests/ingestion/integration/test_integration_load_documents.py::TestConcoursUploadView::test_success_response
  /home/vincentporte/Products/betagouv/csplab/src/tycho/.venv/lib/python3.12/site-packages/jwt/api_jwt.py:147: InsecureKeyLengthWarning: The HMAC key is 14 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
    return self._jws.encode(
```

Duplicate of https://github.com/betagouv/csplab/issues/473